/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 35%;
    background: transparent;
    height: 80px;
    color: transparent;
}
.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    padding: 0 10px;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 0%;
    left: 20%;
}

.slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
    padding: 0 10px;
    color:#fff;
    position: absolute;
    font-size: 50px;
    top: 0%;
    right: 20%;
}


.slick-dots li a:nth-child(1) {
        display: block;
		color: green;
		position: relative;
		top: -90px;
		float: left;
		left: 50%;
        
       
}
.slick-dots li a i{
 font-size:30px;
 color: #f9b605;
 margin: 3px;
}
.slick-dots li a:nth-child(2) {
     display: none;
}
.slick-dots li.slick-activeactive a:nth-child(1) {
     display: none;
     
}
.slick-dots li.slick-activeactive a:nth-child(2) {
    display: block;
    
}




