@media screen and (max-width:1200px){#testimonial2 .choose_us_left{padding:83px 30px 82px 8%;}
.choose_resons{padding-bottom:15px}
#recent_project .owl-theme .owl-controls{display:none}
.project_item2 .downline_title{font-size:15px;text-align:left;}
.service_right h5{margin-left:20px}
.service_left h5{margin-right:20px}
#slider .carousel-caption h1{font-size:300%}
.blog_info{padding:0 15px}
.offer, .objection, .save_money{padding:70px 30px}
#partners .owl-controls{display:none}
.choose_us_right{right:-8%;width:50%;}
.member_img_hover{padding:50px 30px}
.member_img_hover h4{font-size:16px}
.download2 a{padding:0 15px}
.header-style2 .navbar-default .navbar-nav > li{padding:0 15px}
.about_us_item .downline_title{font-size:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.about_us_item{padding:30px 15px}
.page-style2 #slider .carousel-caption h1{font-size:250%;}
.slider-style3 .slider_caption h1{padding:0;font-size:20px;}
.slider-style3 #slider .quote_form2{right:5%;top:65%;width:30%;}
.project_item2:hover .project_item2_hover{padding:40px 25px;}
.project_item2_hover p{margin:30px 0;}
.home3_footer .newsletter_right label{float:right;margin:0px;}
.information_table li span{width:170px;}
.navbar-default .navbar-nav > li{padding:20px 12px;}
}
@media screen and (min-width:992px){.nav .dropdown-menu{visibility:hidden;top:110%;opacity:0;display:block}
.nav .dropdown:hover > ul.dropdown-menu{top:100%;visibility:visible;opacity:1;-moz-transition:all 0.2s ease;-webkit-transition:all 0.2s ease;-ms-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}
.nav .dropdown-menu .dropdown > ul.dropdown-menu{left:100%;}
.nav .dropdown-menu .dropdown i{float:right;font-size:11px;position:absolute;right:20px;top:13px;}
.nav .dropdown-menu .dropdown:hover > ul.dropdown-menu{margin-top:0px;top:0;}
.header-style2 .nav.navbar-nav::after{content:"";border-top:50px solid transparent;height:0;left:-40px;position:absolute;width:0}
.header-style2 .fixed-header .nav.navbar-nav::after{border-top:60px solid transparent}
.header-style2 .fixed-header .navbar-default .navbar-nav > li > a{line-height:60px}
.header-style2 .fixed-header .nav.navbar-nav::before{content:"";position:absolute;width:100%;height:60px;right:-100%;}
}
@media screen and (max-width:991px){.cart-nav,
.search_from_menu{display:none}
.navigation .collapse.navbar-collapse{width:100%;}
#testimonial2 .choose_us_left{padding:83px 20px 82px;}
.condition_details{margin-top:50px;}
.navigation .nav.navbar-nav{padding-top:5px;padding-bottom:5px}
.header-style2 .navbar-collapse{background-color:#5a5a5a;}
.fixed-header .navbar-default .navbar-nav > li{padding-bottom:0;padding-top:0}
.header-style2 .carousel-caption{top:50%;}
#about_us2 .about_us_left{display:none}
.page-style2 #slider .carousel-caption h1{font-size:200%;}
.navbar-default .navbar-nav > li{padding:0 20px;}
.service_sidebar{margin-top:50px}
.message{padding:50px 30px 30px;}
#map{height:350px;}
.contact_info{padding:15px 0;}
.member_img_hover{padding:60px 50px}
.section_sub_title{width:100%}
#header_top{display:none}
.navbar-brand > img{display:block;left:0;position:relative;top:8px;width:100px;z-index:99;}
.navigation .navbar-header{padding:5px 0}
.navigation .nav.navbar-nav{float:none}
.dropdown-menu{position:static;width:100%;padding:0}
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu > li > a{line-height:40px}
.about_us_left{margin:0 auto;width:70%}
.service_middle{border:none}
.service_middle img{display:none}
.service_left, .service_right{width:48%}
.office, .renovation{padding:0}
.section_sub_title p{width:90%}
.choose_us_right{display:none}
.footer_widget{margin-bottom:50px;}
.footer_widget .title, .footer_widget .logo{margin-bottom:30px}
#slider .carousel-caption p{width:85%;margin:20px 0}
.footer_bottom_right{display:inline-table;float:right;width:inherit}
.follow{margin-bottom:25px}
.newsletter, .footer_bottom_left{margin-top:0}
.offer, .objection, .save_money{min-height:auto;height:auto}
.video_right{height:450px}
.our_history_right{display:none}
.video_area{padding-top:30px}
.quote_text p{text-align:center}
.banner-btn{display:table;margin:0 auto;padding-top:30px;position:static;transform:none}
.blog_right_sidebar{margin-top:50px}
.post_social_media{float:left;margin-top:30px;width:100%}
.gallery-section .filter-btns li{margin:5px 15px}
.offer, .objection, .save_money{padding:50px 30px;}
.fixed-header .navigation{padding:0}
.fixed-header .navbar-brand > img{top:8px;width:90px}
#slider, #page_banner{margin-top:66px}
.navbar-brand::after{display:none}
.banner_overlay{padding:50px 0;}
.blog_post{margin:15px 0;}
.project_item2:hover .project_item2_hover{padding:30% 20px;}
.project_item2_hover{-moz-transform:translateY(85%);-ms-transform:translateY(85%);-webkit-transform:translateY(85%);-o-transform:translateY(85%);transform:translateY(85%);}
#why_choose_us3 .choose_us .bg_img{display:none;}
.slider-style3 #slider .quote_form2{padding:30px 15px;}
.header-style3 #header{background-color:#000;opacity:0.85;}
.header-style3 #header .navbar-nav .dropdown-menu > li > a{color:#fff;}
.header-style3 #header .navbar-nav .dropdown-menu > li > a:hover{color:#F8B604;}
.information_table li span{width:250px;}
.sign_in_or_up{margin:80px auto;}
.awards_item .down_line_yellow{margin-top:20px;}
.newsletter_right label{float:right}
}
@media screen and (max-width:767px){#testimonial2 .choose_us_left{padding:70px 15px 70px;}
#slider .carousel-caption p{width:100%;}
.company_details{padding-top:30px}
.section_sub_title{width:100%}
.about_us_left{margin:0 auto;width:100%}
.service_left, .service_right{position:static;width:100%;padding-left:15px;padding-right:15px}
.service_middle{display:none}
.apartment, .office, .move_in_out{width:100%;float:none}
.service_content a{display:inline-block;width:100%}
.big_img{width:100%;height:100%}
.service_left .service_icon{float:none;margin:0 auto}
.service_left h5{margin-right:0;margin-top:20px;text-align:center;width:100%}
.car_washing, .renovation, .green_cleaning{float:none;width:100%}
.service_right .service_icon{float:none;margin:0 auto}
.service_right h5{margin-left:0;margin-top:20px;text-align:center;width:100%}
.achievement{padding:30px 0}
.queto-image{display:none}
.quote, .testimonials{padding:50px 15px}
.follow, .newsletter{width:100%}
.footer_bottom_left{margin-bottom:30px}
#slider .carousel-inner > .item > img, #slider .carousel-inner > .item > a > img{height:90vh;width:auto}
.member_img_hover{padding:60px 50px}
.yearly_history{padding-left:90px}
.year{border:5px solid #f8b604;height:70px;width:70px;}
.pagination > li:first-child > a, .pagination > li:last-child > a{text-indent:-9999px;padding:12px 7px;width:auto;line-height:initial;}
.pagination li:first-child a span{background:url(../images/icon/black_left_arrow.png) no-repeat;background-position:center center;background-size:20px;width:30px;display:table}
.pagination li:last-child a span{background:url(../images/icon/black_right_arrow.png) no-repeat;background-position:center center;background-size:20px;width:30px;display:table}
.pagination > li > span{padding-left:15px;padding-right:15px;}
.pagination > li > a, .pagination > li > span{width:40px;height:45px;line-height:45px;text-align:center;padding:0}
.single_blog_date{top:15px;left:15px}
.openion{padding-left:20px}
.reply_comment{margin-left:30px}
#slider .carousel-caption h1{font-size:150%;}
.slider_caption h1::before{width:60px}
.banner_overlay{padding:30px 0;}
.banner_overlay h2{padding-bottom:10px;font-size:21px;}
.text-area ul li{width:100%}
.quote_text p{font-size:16px}
blockquote{padding-left:20px;}
.message{padding:50px 15px 30px;}
.contact_message label{bottom:-20px;font-size:12px}
.footer_widget .title{height:40px;margin-bottom:20px;}
.about_us_item{margin-bottom:20px;}
.project_item2_hover{text-align:center;-moz-transform:translateY(70%);-ms-transform:translateY(70%);-webkit-transform:translateY(70%);-o-transform:translateY(70%);transform:translateY(70%);}
.project_item2_hover .project_title2{padding-bottom:100px;}
.project_item2 .downline_title{text-align:center;}
.project_item2 .downline_title::after{left:50%;transform:translate(-50%);}
.project_item2_hover p{margin:15px 0;}
.project_item2:hover .project_item2_hover{padding:45% 20px;}
.project_item2:hover .project_title2{padding-bottom:30px;}
.home3_footer{margin-top:100px;padding-top:100px}
.home3_footer .newsletter_contnt{height:200px;}
.home3_footer .newsletter{margin-top:-50px;}
.slider-style3 #slider .quote_form2{top:50%;}
.newsletter label{float:left}
.cart_form_main{width:100%;overflow:scroll;}
#cart_page .cupon input[type="text"]{width:100%;margin-bottom:15px}
}
@media screen and (max-width:479px){.project_item2_hover{-moz-transform:translateY(80%);-ms-transform:translateY(80%);-webkit-transform:translateY(80%);-o-transform:translateY(80%);transform:translateY(80%);}
.project_item2:hover .project_item2_hover{padding:25% 20px;}
.project_item2_hover p{display:block;margin:10px 0 30px;}
}
@media screen and (max-width:525px){.newsletter_form{width:100%}
}
@media screen and (orientation:portrait){.video_right{height:220px}
.btn{padding:0 20px}
.small_img{width:150px;height:150px}
.gallery-section .column{margin-bottom:15px;}
.pagination > li > a, .pagination > li > span{margin-left:5px}
}
@media screen and (max-width:767px) and (min-width:360px){@media screen and (orientation:landscape){.big_img{width:70%;height:auto;margin:0 auto}
.small_img{right:100px}
.service_left > div, .service_right > div{width:50%;float:left;padding-left:15px;padding-right:15px}
.filter-list{display:inline-block;margin-left:-7.5px;margin-right:-7.5px}
.filter-list div.col-sm-6{width:50%;float:left;padding:0 7.5px;margin-bottom:15px}
.carousel-caption{top:45%}
#slider .carousel-inner > .item > img, #slider .carousel-inner > .item > a > img{height:130vh}
.photo_gallery a{width:22%}
}
}